body{
    margin:0;
    background-color:#1f253d;
    color:#f1f1f1;
}
.box{
    border:1px solid red;
    background-color:lightseagreen;
}
.gridContainer{
    height:100vh;
    display:grid;
    grid-template:100px 100px 1fr 100px / 1fr 1fr 1fr; 
    grid-gap:10px;
}

