body{
    margin:0;
    background-color:#1f253d;
    color:#f1f1f1;
    box-sizing: border-box;
}
.box{
    /* border:1px solid red; */
    background-color: #394165;
    border-radius:5px;
}
.gridContainer{
    height:100vh;
    width:1800px;
    margin:5px auto;
    display:grid;
    grid-template:100px 180px 1fr 100px / 1fr 1fr 1fr; 
    grid-gap:8px;

    /* grid-template-areas: "header header header"
    "article article article"
    "sideL sideC sideR"
    "footer footer footer" ;*/
    
    grid-template-areas: "header header header"
                        "article article article"
                         "sideL sideC sideR"
                        "footer footer footer";
}

.header{
    grid-area:header;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.article{
    grid-area:article;
    padding:5px 20px;
    text-align: center;

}
a{
    color:white;
}

/* INDICANDO LA POSICION DEL GRID LEFT */
.main-left{
    grid-area:sideL;
}
/* DENTRO DEL GRID AREA, TENDREMOS FELXBOX */
.gridInside{
    border-radius:5px;
    background-color:#1f253d; 
    /* border:1px solid red; */
}


.littleBoxes{
    /* border:1px solid green; */
    border-radius:5px;
    background-color: #394165;
    margin-bottom:8px;
    padding:20px ;
}
.littleBoxes h2{
    margin:0px;
}
.main-center{
    grid-area:sideC;
}
.main-right{
    grid-area:sideR;
}
.footer{
    grid-area:footer;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
@media screen and (max-width:1920px){

}
@media screen and (max-width:1024px){
    body{
        font-size:0.7em;
    }
    .gridContainer{
        width:90%;
    }
}
@media screen and (max-width:767px){
    .gridContainer{
        grid-template:60px 120px 1fr 60px / 1fr 1fr 1fr; 
        grid-gap:3px;
    }
    .littleBoxes{
        margin-bottom:3px;
        padding:10px;
    }
    .article p{
        margin-top:2px;
    }
    
}
@media screen and (max-width:620px){
    .gridContainer{
        width:95%;
        
        grid-template:60px repeat(2,1fr) 60px / 1fr 1fr;
        grid-template-areas:"header header"
                            "article sideC"
                            "sideL sideR"
                            "footer footer";
                            
    }
    .article{
        text-align: left;
    }
    
}
@media screen and (max-width:480px){
    body{
        font-size:0.6em;
    }
    .gridContainer{
        width:98%;

        grid-template:30px repeat(3,0.5fr) 30px / 1fr 1fr;
        grid-template-areas:"header" " "
                            "article sideC"
                            "sideL sideR"
                            "footer" " ";
    }
    /* .article{
        display:none;
    } */
    /* .main-left{
        display: none;
    }*/
     /* .main-right{
        display: none;
    }  */
     .main-center{
        display: none;
    }  
}
@media screen and (max-width:320px){
    .header{
        font-size:0.7em;
    }
    .article,
    .main-left,
    .main-right,
    .main_center{
        font-size:1.55em;
    }
    .header,
    .footer{
        padding:10px;
    }
    .gridContainer{
        width:98%;

        grid-template:30px repeat(4,0.5fr) 30px / 1fr ;
        grid-template-areas:"header"
                            "article" 
                            "sideC"
                            "sideL"
                            "sideR"
                            "footer";
    }
    
}